.section-intro {
  width: 1200px;
  height: 400px;
  position: relative;
  margin-inline: auto;
  margin-top: 96px;

  animation: disappearText 1s ease-in backwards;
}

.text-intro {
  width: 1136px;
  height: 128px;
  margin-inline: auto;
  padding-top: 114px;
  display: inline-block;

}

.text-block{
  opacity: 0.5;
}

.highlight {
  color: var(--blue-light);
  font: var(--text-body);
  opacity: 0.5;
}


@keyframes appearText {
  
  to{
    opacity: 100%;
  }
}



img[src*="spellbook"] {
  width: 80px;
  height: 80px;
  top: 6%;
  right: 48%;
  rotate: 20deg;

  &:hover{
    transform: scale(1.1) translateY(-5px) rotate(10deg); ; 

  }
}

img[src*="mystery"] {
  width: 72.72px;
  height: 72.72px;
  bottom: 30%;
  rotate: 98deg;
  left: 2%;


  &:hover{
    transform: scale(1.1) translateY(-5px) rotate(10deg);
  }

}

img[src*="crystal-ball"] {
  width: 65.45px;
  height: 65.45px;
  right: 1%;
  bottom: 30%;


  &:hover{
    transform: scale(1.1) translateY(-5px) rotate(10deg); 
  }
}

/* Estilizando as imagens */
img[src*="spellbook"],
img[src*="mystery"],
img[src*="crystal-ball"] {
  position: absolute;
  opacity: 0;

}




/* Animação ao passar o mouse - imagens e textos */
.section-intro:hover img[src*="spellbook"],
.section-intro:hover .text-intro h2 span:nth-of-type(1) {
  animation: appearImages 1s forwards;
  animation-delay: 0.5s;
}

.section-intro:hover img[src*="mystery"],
.section-intro:hover .text-intro h2 span:nth-of-type(2) {
  animation: appearImages 1s forwards;
  animation-delay: 2s;
}

.section-intro:hover img[src*="crystal-ball"],
.section-intro:hover .text-intro h2 span:nth-of-type(3) {
  animation: appearImages 1s forwards;
  animation-delay: 4s;
}



@keyframes appearImages {

  to {
    opacity: 100%;
  }

}


@keyframes disappearText {

  to {
    opacity: 0.5%;
  }

}
