header {
 max-width: 1440px;
  height: 948px;
  /* border: 1px solid red; */
  background-image: url("../assets/images/hero-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


  /* animation: appearBackground 2.5s ease-in; */
  margin-inline: auto;


  & .header {

    & .nav {
      justify-content: space-between;
      padding: 56px 160px 164px 160px;

      & img {
        width: 230px;
        height: 58px;
      }

      & button {
        width: 89px;
        height: 40px;

        padding: 12px 20px;
        background-color: var(--pink-dark);
        border-radius: 8px;

        position: relative;
        overflow: hidden;

        /* transition: scale 200ms; */
        z-index: 1;


        &::after {
          content: "";
          width: 100%;
          height: 100%;
          border-radius: 50%;

          background-color: var(--pink-base);
          position: absolute;

          top: 0;
          left: 0;
          z-index: -1;

          scale: 0;
          transition: scale 0.5s linear;
        }

        &:hover::after {
          scale: 200%;

        }
      }

    }

    & .description {
      flex-direction: column;

      gap: 32px;

      & p {
        text-align: center;
        opacity: 0;

        animation: appearP 0.5s 1.5s ease-in forwards;
      }

      h1 {
        animation: appearH1 2s ease-out;
      }

    }
  }
}

@keyframes appearH1 {

  0% {
    opacity: 0;
  }

  90% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }

}

@keyframes appearP {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes appearBackground {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


